.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.imagecontainer {
  margin-right: 30px;
}

.image {
  border-radius: 10px;
}

.nextcard {
  text-align: center;
}

@media (max-width: 950px) {
  .main{
    display: table-column;
  }
}
